@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>This is another change in order to know how to help with the Git   implementation</p>

<p>This change was one at 11:11 after everything was posted in GitHub</p>

<p>This change was one at 11:18 the previous line was not submitted to github</p>



